
#root {
  min-width: 600px;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
}

html, body {
  background-image: linear-gradient(90deg, #4fff8a, #53c0ff, #ff607b);
  height: 100vh;
  width: 100vw;
}

body {
  min-height: calc(100vh - 35px);
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #0d6881;
}  
